<html>
<head>

  <title>Example</title>
  <link href="http://www.w3resource.com/zurb-foundation3/foundation3/stylesheets/foundation.css" rel='stylesheet'>
  <link href="../../css/foundation.css" rel='stylesheet'>
<style>

	  
	  
</style>
  </head>
<body>

 
<div class="row">

  <div class="small-3 large-4 columns">
    
  
<ul class="pricing-table">
    <li class="title">Concurso 1</li>
    <li class="bullet-item">Premio: $1000</li>
	<li class="bullet-item">Fecha Inicio:</li>
    <li class="bullet-item">Fecha Fin:</li>
    <li class="description">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.</li>
	<li class="bullet-item">Total Participantes: 20 Users</li>
    <li class="cta-button"><a class="button" href="#">Detalles</a></li>
</ul>

	<!-- <section class="comments">	
				<center>
					VER DETALLES...
					</center>
			
		</section> -->
  </div>
   <div class="small-3 large-4 columns">
  
  
  
<ul class="pricing-table">
  <li class="title">Concurso 2</li>
    <li class="bullet-item">Premio: $1300</li>
	<li class="bullet-item">Fecha Inicio:</li>
    <li class="bullet-item">Fecha Fin:</li>
    <li class="description">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.</li>
	<li class="bullet-item">Total Participantes: 20 Users</li>
    <li class="cta-button"><a class="button" href="#">Detalles</a></li>
</ul>


  
  </div>
  
 <div class="small-3 large-4 columns">
  
<ul class="pricing-table">
    <li class="title">Concurso 3</li>
    <li class="bullet-item">Premio: $400</li>
	<li class="bullet-item">Fecha Inicio:</li>
    <li class="bullet-item">Fecha Fin:</li>
    <li class="description">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.</li>
	<li class="bullet-item">Total Participantes: 20 Users</li>
    <li class="cta-button"><a class="button" href="#">Detalles</a></li>
</ul>

  </div>
  
  
  <div class="small-3 large-4 columns">
  
<ul class="pricing-table">
    <li class="title">Concurso 4</li>
    <li class="bullet-item">Premio: $700</li>
	<li class="bullet-item">Fecha Inicio:</li>
    <li class="bullet-item">Fecha Fin:</li>
    <li class="description">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.</li>
	<li class="bullet-item">Total Participantes: 20 Users</li>
    <li class="cta-button"><a class="button" href="#">Detalles</a></li>
</ul>

  </div>
  
  
   <div class='medium-12 columns'>
        <div class="pagination-centered">
            <ul class="pagination">
                <li class="arrow unavailable"><a href="">&laquo;</a></li>
                <li class="current"><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li class="unavailable"><a href="">&hellip;</a></li>
                <li><a href="">12</a></li>
                <li><a href="">13</a></li>
                <li class="arrow"><a href="">&raquo;</a></li>
            </ul>
        </div>
    </div>
  
  
</div>
</body>
