<head>
<link href="../../css/foundation.css" rel='stylesheet'>
<link href="../../css/style.css" rel='stylesheet'>


</head>
<body>
    <div class='medium-offset-1 medium-5 columns'>
        <h3 class="center-title">&Uacute;ltimas Incubaciones</h3>
        <div class='lastest'>
            <div class='panel'>
                'Aqui van las ultimas Incubaciones'
            </div>
            <div class='panel'>
                'Aqui van las ultimas Incubaciones'
            </div>
            <div class='panel'>
                'Aqui van las ultimas Incubaciones'
            </div>
        </div>
    </div>
    <div class='medium-5 columns'>
        <h3 class="center-title">Retroalimentaciones Recientes</h3>
        <div class='lastest'>
            <div class='panel'>
                'Aqui van las ultimas Incubaciones'
            </div>
            <div class='panel'>
                'Aqui van las ultimas Incubaciones'
            </div>
            <div class='panel'>
                'Aqui van las ultimas Incubaciones'
            </div>
        </div>
    </div>
    <hr/>
    <div class='medium-12 columns'>
        <h3 class='center-title'>Milestones</h3>
        <div class='lastest'>

        </div>
    </div>
</body>
